

<!-- <div background-color: {{data}}><h1>Hi</h1></div> -->

<!-- <input type="text" [value]="name" (keyup.enter)="name=$event.target.value"> -->

<!-- <input type="text" [(ngModel)]="name">
{{name}} -->

<h1>Welcome to CRUD</h1>


<h2>* CREATE</h2>
Id : &nbsp; &nbsp;&nbsp; <input type="number" [(ngModel)]="id"><br><br>
Name: <input type="text" [(ngModel)]="name"><br><br>
<button (click)="add()">Add Employee</button><br><br>
<hr>


<h2>* RETREIVE</h2>



  <div *ngFor =  " let emp of employees">
    {{emp.id}}
    {{emp.name}}
  </div><br><br>
  <div *ngIf="employees.length">
    <h3>No record found.!</h3>
  </div>
<hr>

<h2>* UPDATE</h2>
Id : &nbsp; &nbsp;&nbsp; <input type="number" [(ngModel)]="id"><br><br>
Name: <input type="text" [(ngModel)]="name"><br><br>
<button (click)="update()">Update Employee</button><br><br>
<hr>

<h2>* DELETE</h2>
Id : &nbsp; &nbsp;&nbsp; <input type="number" [(ngModel)]="id"><br><br>
<button (click)="deleteEmp()">Delete Employee</button>
